/** Now Playing **/
.now-playing__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
  }
  .now-playing__artist {
    margin-bottom: 1em;
  }
  .now-playing__status {
    margin-bottom: 1em;
  }
  
  .now-playing__side {
    width: 15%;
  }
  /** Progress **/
  .progress {
    border: 1px solid rgb(8, 12, 211);
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
  }
  .progress__bar {
    background-color: rgb(140, 46, 177);
    height: 8px;
  }